<div class="controls">
    <nav>
        <ul>
            <li>
                <button id="rollback" class="contrast small" style="visibility: hidden;">назад</button>
            </li>
        </ul>
        <ul>
            <li>
                <button id="makeCard" class="contrast small" onclick="openModal(document.getElementById('card-create'))">Создать карточку</button>
                <button id="makeTask" class="contrast small" onclick="openModal(document.getElementById('task-create'))">Создать задачу</button>
            </li>
        </ul>
    </nav>
</div>