<nav class="header">
  <ul>
    <li><strong>{{appName}}</strong></li>

    <li><a href="#" class="contrast">Home</a></li>
    <li><a href="#" class="contrast">All ToDos</a></li>
  </ul>

  <ul>
    <li>
      <details class="dropdown outline">
        <summary>...</summary>
        <ul>
          <li><a href="#">Rename</a></li>
          <li class="danger"><a href="#">Delete</a></li>
        </ul>
      </details>
    </li>
{#    <li><button class="contrast">Login</button></li>#}
  </ul>

</nav>

<!-- https://picocss.com/docs/nav -->