<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="static/css/pico.min.css">
    <link rel="stylesheet" href="static/css/base.css">
</head>
<body>

{% include 'header' %}

<div class="container">
    {% include 'controls' %}

    <div id="container" class="container">
        <span aria-busy="true" style="text-align: center; display: block;">Loading...</span>
    </div>

    {% include 'modal/card-create' %}
    {% include 'modal/task-create' %}
    {% include 'modal/signin' %}
    {% include 'modal/signup' %}

</div>
</body>
<script type="text/javascript" src="static/js/base.js"></script>
<script src="static/js/modal.js"></script>
</html>